body
{
	background: blue;
}

	.login_div1
	{
        margin-top:150px;
		background: yellow;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}
    .login_div2
	{
        margin-top:50px;
        margin-bottom: 50px;
		background: yellow;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}

#player1_name_input , #player2_name_input
{
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
    width:250px;
}
